.login__page-wrapper {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

.login__content-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    178.25deg,
    rgba(232, 232, 232, 0.834) 47.02%,
    #f8531e 80.99%
  );
  position: relative;
  flex-direction: column;
}

.login__content-wrapper {
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__content {
  width: 100%;
  //   line-height: 0px;
}

.login__content h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 70px;
  margin-bottom: 25px;
  letter-spacing: 0.5px;
}

.login__content p {
  font-style: normal;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 30px;
  color: #7d7d7d;
}

// image style
.login__content-section img {
  width: 70%;
  height: auto;
  object-fit: cover;
}

// form__input-section

.form__input-section {
  width: 70%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255, 255, 255);
  box-shadow: 0 0 4px 0 rgba(130, 130, 130, 0.343);
  border-radius: 10px;
}

.form__wrapper {
  width: 80%;
}

.form__wrapper .avatar {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin: auto;
  margin-bottom: 70px;
  text-align: center;
}

.form__wrapper .avatar img {
  width: 100%;
  // height: auto;
  margin-bottom: 15px;
}

// login option wrapper
.login__option-wrapper {
  text-align: center;
}

.login__option-wrapper p {
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.sign_with_google {
  width: 250px;
  padding: 10px 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  background: #f8531e;
  color: rgb(248, 248, 248);
  border-radius: 25px;
  margin: 0 auto 20px;
  justify-content: space-around;
  box-shadow: 0 0 2px rgba(78, 77, 77, 0.492);
}

// main__form

.main__form {
  width: 100%;
  // background: red;
  // line-height: 3rem;
}

input[type='email'],
input[type='password'] {
  width: 100%;
  padding: 10px;
  outline: none;
  margin-bottom: 15px;
  transition: 250ms linear;
  &:focus {
    outline: none;
  }
}

.remmber__me-checkbox input[type='checkbox'] {
  margin-right: 10px;
  margin-bottom: 30px;
}

.submit__button {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  background: #151f2f;
  color: #fff;
  cursor: pointer;
}

@media screen and (max-width: 1100px) {
  .login__page-wrapper {
    grid-template-columns: 1fr;
    // place-items: center;
  }
  .login__content-section {
    display: none;
  }
}

@media screen and (min-width: 500px) {
  .form__input-section {
    width: 70%;
    max-width: 500px;
  }
}
